* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    line-height: 1.5;
    color: #FFFF;
}

h1 {
    font-size: 3.6rem;
    font-weight: 700;
}

header {
    background-color: #02A28F;
    padding: 1.6rem 15.6rem;
}

main {
    padding: 5.6rem 15.6rem;
}

#banner {
    background: linear-gradient(to top, rgb(0, 0, 0), transparent), 
                url('/assets/banner-city.jpeg') center/cover no-repeat;
    height: 40vh;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 2.4rem;

    h2 {
        font-size: 3.2rem;
        font-weight: 700;
    }

    h3 {
        font-size: 2rem;
        font-weight: 400;
    }
}

.container-flex {
    display: flex;
    flex-direction: column;

    h2 {
        background-color: #02A28F;
        border-radius: 1rem;
        padding: 1.6rem 2.4rem;
        margin-bottom: 2rem;
    }
}


.card-pop-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    .card-pop {
        display: flex;
        align-items: center;
        background-color: #FFFF;
        height: 10vh;
        border-radius: 1rem;
        padding: 1.3rem 1.2rem;
        border: 1px solid red;        

        img {
            height: 8vh;
            border-radius: 1rem;
        }

        h3 {
            color: black;
            font-size: 1.4rem;
            font-weight: 700;
        }
    
        span {
            color: #616161;
            font-weight: 500;
            font-size: 1.2rem;
        }
        
        div {
            margin-left: 1.2rem;
        }
    }
}