* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    line-height: 1.5;
    color: #FFFF;
}

h1 {
    font-size: 3.6rem;
    font-weight: 700;
}

header {
    background-color: #02A28F;
    padding: 1.6rem 15.6rem;
}

main {
    padding: 5.6rem 15.6rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 2.4rem;
}

#banner {
    background: linear-gradient(to top, rgb(0, 0, 0), transparent), 
                url('/assets/banner-city.jpeg') center/cover no-repeat;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 2.4rem;

    h2 {
        font-size: 3.2rem;
        font-weight: 700;
    }

    h3 {
        font-size: 2rem;
        font-weight: 400;
    }
}

.container-flex {
    display: flex;
    flex-direction: column;

    h2 {
        background-color: #02A28F;
        border-radius: 1rem;
        padding: 1.6rem 2.4rem;
        margin-bottom: 2rem;
    }
}

.card-pop-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    .card-pop {
        display: flex;
        align-items: center;
        background-color: #FFFF;
        height: 10vh;
        border-radius: 1rem;
        padding: 1.3rem 1.2rem;
        box-shadow: 0 1rem 1rem 0 #0000001A;

        img {
            height: 8vh;
            border-radius: 1rem;
        }

        h3 {
            color: black;
            font-size: 1.4rem;
            font-weight: 700;
        }
    
        span {
            color: #616161;
            font-weight: 500;
            font-size: 1.2rem;
        }
        
        div {
            margin-left: 1.2rem;
        }
    }
}

#container-news {
    display: flex;
    flex-direction: column;

    .title-news {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #02A28F;
        border-radius: 1rem;
        padding: 1.6rem 2.4rem;
        margin-bottom: 1.1rem;
        height: 5.6rem;
        

        span {
            cursor: pointer;
            text-decoration: underline;
            text-decoration-style: solid;
            font-size: 1.4rem;
            font-weight: 500;

        }
    }

    .container-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.4rem;

        .card {
            background-color: #FFFF;
            height: 100%;
            color: black;
            border-radius: 1.6rem;
            box-shadow: 0 1rem 2rem 0 #0000001A;
    
            img {
                height: 30em;
                width: 100%;
                object-fit: cover;
                border-radius: 1.6rem 1.6rem 0 0;
            }
        
            .card-text {
                padding: 1.6rem;
                display: flex;
                flex-direction: column;
                gap: 0.8rem;

                .tag-cards {
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: #02A28F;
                }

                .author-card {
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: #616161;
                }

                h3 {
                    font-size: 2rem;
                    font-weight: 700;
                }

                p {
                    font-size: 1.4rem;
                    font-weight: 400;
                }
            }
        }
    }
}